cscope.*
*.app
*.cmd
.config
.config.old
*.d
dkms.conf
*.dll
*.dSYM/
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lo
*.map
Mkfile.old
modules.order
Module.symvers
*.o
*.obj
*.orig
*.out
*.pch
*.pdb
*.rej
*.so.*
*.su
*.swp
tags
*.tmp
.tmp_versions/
*.a
*.bin
*~
*.x86_64
*.lst
lorahat
